<%- include('partials/header') %>
<body class="blog-page-layout">
    <%- include('partials/nav') %>
    
    <div class="main">
        <div class="container">
            <p id="title"><%= blog.title %></p>
            <div class="info">
                <div class="avatar">
                    <a href="/@<%= blog.author.username %>">
                        <span>
                            <%= blog.author.name[0].toUpperCase() %>
                        </span>
                        <p id="author"><%= blog.author.name %></p>
                    </a>
                </div>
                <p id="date"><%= blog.createdAt.toString().split(" ").slice(1,4).join(" ") %></p>
            </div>
            <p id="content"><%= blog.content %></p>
        </div>
    </div>
    
    <%- include('partials/footer') %>

</body>
<!-- 
Start with an icon to the profile -->