<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="main">
    <div class="blogForm">
        <form>
            <input type="text" name="title" id="title" value="<%= blog.title %>">
            <div class="error-text title-input-error"></div>
            <textarea name="content" id="content" ><%= blog.content %></textarea>
            <div class="error-text content-input-error"></div>
            <div class="common-error-box"></div>
            <input class="btn" type="submit" value="Post">
        </form>
    </div>
</div>

<%- include('partials/footer') %>

<script>
    const form = document.querySelector("form")
    const titleInputError = document.querySelector(".title-input-error")
    titleInputError.style.color = 'red'
    const contentInputError = document.querySelector(".content-input-error")
    contentInputError.style.color = 'red'
    const errorBox = document.querySelector(".common-error-box")
    errorBox.style.color = 'red'
    
    form.addEventListener('submit', async (e)=>{
        e.preventDefault()
        const titleInput = document.querySelector("#title")//50
        const contentInput = document.querySelector("#content")//500
            
            try {
                const response = await fetch('/blog/<%= blog._id%>/edit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        title: titleInput.value.trim(),
                        content: contentInput.value.trim()
                    })
                });
                const data = await response.json()
                console.log(data)
                if (data.success) {
                    // Handle successful submission
                    alert('Blog posted successfully!');
                    location.assign('/')
                } else {
                    // Handle server errors
                    errorBox.innerHTML = data.errors.empty;
                    titleInputError.innerHTML = data.errors.limit.title;
                    contentInputError.innerHTML = data.errors.limit.content;
                    console.log(data)
                }
            } catch (err) {
                console.error('Error posting blog:', err);
                // alert('An error occurred while posting the blog.');
            }




    })



</script>
