<%- include('partials/header') %>
<body class="edit-blog-page-layout">
    
    <%- include('partials/nav') %>
    <div class="main">
        <div class="blogForm">
            <form>
                <textarea id="title" name="title"><%= blog.title %></textarea>
                <div class="error-text title-input-error"></div>
                <textarea id="content" name="content"><%= blog.content %></textarea>
                <div class="error-text content-input-error"></div>
                <div class="common-error-box"></div>
                <div class="actions">
                    <button class="btn update-btn" data-blog-id="<%= blog._id %>">Update</button>
                    <button type="button" class="btn cancel-btn" data-blog-author="<%= blog.author.username %>">Cancel</button>
                </div>

             </form>
    </div>
</div>

<%- include('partials/footer') %>

<script>
    const form = document.querySelector("form")
    const titleInputError = document.querySelector(".title-input-error")
    titleInputError.style.color = 'red'
    const contentInputError = document.querySelector(".content-input-error")
    contentInputError.style.color = 'red'
    const errorBox = document.querySelector(".common-error-box")
    errorBox.style.color = 'red'
    
    const titlearea = document.querySelector("#title")
    const contentarea = document.querySelector("#content")

    const adjustTextareaHeight = (textarea) => {
        textarea.style.height = "auto"
        textarea.style.height = textarea.scrollHeight + "px"
    }
    
    // Set initial height on page load
    adjustTextareaHeight(titlearea)
    adjustTextareaHeight(contentarea)
    
    titlearea.addEventListener('input',(e)=>{
        adjustTextareaHeight(titlearea)
    })
    contentarea.addEventListener('input',(e)=>{
        adjustTextareaHeight(contentarea)
    })

    // titlearea.addEventListener('input',(e)=>{
    //     titlearea.style.height = "auto"
    //     titlearea.style.height = titlearea.scrollHeight + "px"
    // })
    // contentarea.addEventListener('input',(e)=>{
    //     contentarea.style.height = "auto"
    //     contentarea.style.height = contentarea.scrollHeight + "px"
    // })
    
    const actionBox = document.querySelector(".actions")
    console.log(actionBox)
    actionBox.addEventListener("click",(e)=>{
        console.log("actionBox invoked")
        if(e.target.classList.contains('update-btn')){
            e.preventDefault()
            const blogId = e.target.dataset.blogId
            confirmEdit(blogId)
            return
        }
        if(e.target.classList.contains('cancel-btn')){
            e.preventDefault()
            const blogAuthor = e.target.dataset.blogAuthor
            cancelEdit(blogAuthor)
            return
        }else{
            console.log("Action box clicked! in editBlog js")
            return
        }
    })

    const confirmEdit = async (blogId) => {
        const titleInput = document.querySelector("#title")//100
        const contentInput = document.querySelector("#content")//500
        
        console.log("in confirm edit")
        
        try {
            const response = await fetch('/blog/<%= blog._id%>/edit', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    title: titleInput.value.trim(),
                    content: contentInput.value.trim()
                })
            });
            const data = await response.json()
            console.log(data)
            if (data.success) {
                // Handle successful submission
                alert(data.message);
                location.assign('/@<%= blog.author.username%>')
            } else {
                // Handle server errors
                errorBox.innerHTML = data.errors.empty;
                // No need as the limit is removed.
                // titleInputError.innerHTML = data.errors.limit.title;
                // contentInputError.innerHTML = data.errors.limit.content;
                console.log(data)
            }
        } catch (err) {
            console.error('Error posting blog:', err);
            // alert('An error occurred while posting the blog.');
        }
    }
    const cancelEdit = async (blogAuthor) => {
        console.log("in cancel edit")
        location.assign(`/@${blogAuthor}`)
    }
        
        
        
    </script>

</body>