<%- include('partials/header') %>
    <%- include('partials/nav') %>
<!-- <%- include('partials/greetings') %> -->


        <div class="main">
            <div class="container">
                <% if (user) { %>
                    <div class="box1">
                        <p>Write your blog now!</p>
                        <button><a href="/<%= user._id %>/write">Write</a></button>
                    </div>
                        <div class="blogs">
                            <h3>Explore more blogs</h3>
                            <ul>
                                <% blogs.forEach(blog => { %>
                                    <li class="blog-card"> 
                                        <a id="title" href="/blogs/<%= blog.slug %>"><%= blog.title %></a>
                                        <p id="desc"><%= blog.content %></p>
                                        <a id="author" href="/@<%= blog.author.username %>"><%= blog.author.name %> | <%= blog.createdAt.toString().split(" ").splice(1,3).join(" ") %></a>
                                        <!-- //we have to add author link, and much more -->

                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    <% } else {%>
                        <h3>Getting a thought? Write it down now!</h3>
                        <a href="/auth/login">Get Started</a>
                <%} %>
            </div>
        </div>

        <%- include('partials/footer') %>


        <!-- //we are adding the author page -->