<%- include('partials/header') %>
    <%- include('partials/nav') %>
<%- include('partials/greetings') %>


        <div class="main">
            <div class="container">
                <% console.log('User in nav:', user) %>
                <% if (user) { %>
                    <div class="box1">
                        <p>Write your blog now!</p>
                        <button><a href="/<%= user._id %>/write">Write</a></button>
                    </div>
                        <div class="blogs">
                            <h3>Explore more blogs</h3>
                            <ul>
                                <% blogs.forEach(blog => { %>
                                    <li class="blog-card"> 
                                        <a href="/blog/<%= blog.slug %>/<%= blog.author.toString() %>"><%= blog.title %></a>
                                        <a href="/"></a>
                                        //we have to add author link, and much more

                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    <% } else {%>
                        <h3>Getting a thought? Write it down now!</h3>
                        <a href="/auth/login">Get Started</a>
                <%} %>
            </div>
        </div>

        <%- include('partials/footer') %>